@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 7px;
  background-color: #000000;
  border-bottom-right-radius: 8px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(66, 66, 66);
}

.scroll::-webkit-scrollbar {
  width: 7px;
  background-color: #0000002f;
  border-radius: 8px;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.575);
}

.img_container {
  @apply flex max-w-[30vw] h-64 justify-center items-center  border border-white border-opacity-30 rounded-xl
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fadeFast-enter-active,
.fadeFast-leave-active {
  transition: opacity 0.5s;
}
.fadeFast-enter-from,
.fadeFast-leave-to {
  opacity: 0;
}